<%= bootstrap_form_with model: [:my, piece], data: {controller: 'toggle-element'} do |f| %>
  <%= f.text_field :title %>

  <div class="mb-3">
    <%= f.label :status, class: 'form-label', for: nil %>

    <%= collection_radio_buttons :piece, :status, Piece.statuses_i18n, :first, :last do |b| %>
      <div class="form-check">
        <%= b.radio_button class: 'form-check-input', data: {action: b.value == 'complete' ? 'toggle-element#show' : 'toggle-element#hide'} %>
        <%= b.label(class: 'form-check-label') { b.text } %>
      </div>
    <% end %>
  </div>

  <%= f.collection_select :form_method, Piece.form_methods_i18n, :first, :last, prompt: true %>

  <div
    class="clays"
    data-controller="nested-form"
    data-nested-form-min-items-value="1"
  >
    <p>土の種類と使用量</p>

    <div data-nested-form-target="container">
      <%= f.fields_for :clay_usages do |clay_usage| %>
        <%= render 'clay_usage', form: clay_usage %>
      <% end %>
    </div>

    <button
      type="button"
      class="btn btn-secondary d-block mb-3"
      data-action="click->nested-form#add"
    >
      土を追加
    </button>

    <template data-nested-form-target="template">
      <%= f.fields_for :clay_usages, piece.clay_usages.new, child_index: '__INDEX__' do |clay_usage| %>
        <%= render 'clay_usage', form: clay_usage %>
      <% end %>
    </template>
  </div>

  <div class="glazes" data-controller="nested-form">
    <p>釉薬の種類</p>

    <div data-nested-form-target="container">
      <%= f.fields_for :glaze_usages do |glaze_usage| %>
        <%= render 'glaze_usage', form: glaze_usage %>
      <% end %>
    </div>

    <button
      type="button"
      class="btn btn-secondary d-block mb-3"
      data-action="click->nested-form#add"
    >
      釉薬を追加
    </button>

    <template data-nested-form-target="template">
      <%= f.fields_for :glaze_usages, piece.glaze_usages.new, child_index: '__INDEX__' do |glaze_usage| %>
        <%= render 'glaze_usage', form: glaze_usage %>
      <% end %>
    </template>
  </div>

  <%= tag.div data: {toggle_element_target: 'target'}, hidden: !f.object.complete? do %>
    <%= f.text_area :description, class: 'auto-resize' %>

    <div data-controller="attach-images">
      <label class="btn btn-secondary mb-3">
        画像を追加
        <input
          type="file"
          hidden
          multiple
          data-action="attach-images#add"
        >
      </label>

      <div class="list-group" data-attach-images-target="container">
        <%= f.fields_for :photos, piece.photos.order(:id), include_id: false do |photo| %>
          <%= render 'photo', photo: photo %>
        <% end %>
      </div>

      <template data-attach-images-target="template">
        <%= f.fields_for :photos, PiecePhoto.new, child_index: '__INDEX__' do |photo| %>
          <%= render 'photo', photo: photo %>
        <% end %>
      </template>
    </div>
  <% end %>

  <hr>

  <%= f.primary %>
  <%= link_to 'キャンセル', piece.persisted? ? my_piece_path(piece) : my_pieces_path, class: 'btn btn-outline-primary' %>
<% end %>
