<h1>作品を編集</h1>

<div class="mb-3" data-controller="clay-usages-form">
  <%= bootstrap_form_with model: [:my, @piece], method: :post do |f| %>
    <%= f.text_field :title, label: 'タイトル' %>
    <%= f.collection_radio_buttons :form_method, Piece.form_methods_i18n, :first, :last, label: '成形方法' %>

    <div data-clay-usages-form-target="usages">
      <%= f.fields_for :clay_usages do |clay_usage_form| %>
        <div class="d-flex gap-3">
          <%= clay_usage_form.select :clay_id, Clay.all.map { [it.name, it.id] }, {include_blank: true, label: '土の種類'} %>
          <%= clay_usage_form.number_field :weight, label: '使用量' %>
        </div>
      <% end %>
    </div>

    <button type="button" class="btn btn-secondary d-block mb-5" data-action="click->clay-usages-form#add">土を追加する</button>

    <template data-clay-usages-form-target="template">
      <%= f.fields_for :clay_usages, @piece.clay_usages.new do |clay_usage_form| %>
        <div class="d-flex gap-3" data-clay-usages-form-target="addedUsage">
          <%= clay_usage_form.select :clay_id, Clay.all.map { [it.name, it.id] }, {include_blank: true, label: '土の種類'} %>
          <%= clay_usage_form.number_field :weight, label: '使用量' %>
          <button type="button" class="btn btn-outline-danger align-self-center" data-action="click->clay-usages-form#remove">削除</button>
        </div>
      <% end %>
    </template>

    <%= f.primary %>
  <% end %>
</div>
<hr/>

<%= link_to 'キャンセル', my_in_progress_index_path, class: 'btn btn-outline-primary' %>
