<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', home_path %></li>
    <li class="breadcrumb-item active" aria-current="page">自分の作品一覧</li>
  </ol>
</nav>

<%= link_to '作品を登録', new_my_piece_path, class: 'btn btn-outline-primary mb-3' %>

<div class="grid">
  <% @pieces.each do |piece| %>
    <div
      class="g-col-6 card mb-3 d-grid row-gap-0"
      style="grid-row: span 2; grid-template-rows: subgrid;"
    >
      <div
        class="card-body d-grid"
        style="grid-row: span 2; grid-template-rows: subgrid;"
      >
        <h5 class="card-title">
          <%= link_to piece.title, my_piece_path(piece), class: 'stretched-link text-decoration-none' %>
        </h5>

        <div>
          <time datetime="<%= piece.created_at.iso8601 %>">
            <%= l piece.created_at.to_date %>
          </time>

          <span class="badge <%= status_badge_class(piece.status) %>">
            <%= piece.status_i18n %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
