<%= render 'my/piece_tab', piece: @piece %>

<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <% @piece.photos.each do |photo| %>
        <div class="col-6 text-center">
          <%= image_tag photo.file, height: 200, alt: '' %>

          <p><%= photo.caption %></p>
        </div>
      <% end %>
    </div>

    <dl>
      <dt>作品説明</dt>

      <dd><%= @piece.description %></dd>

      <dt>進捗</dt>

      <dd>
        <span class="badge <%= status_badge_class(@piece.status) %>">
          <%= @piece.status_i18n %>
        </span>
      </dd>

      <dt>成形方法</dt>

      <dd><%= @piece.form_method_i18n %></dd>

      <dt>使用した土</dt>

      <% @piece.clay_usages.order(:id).each do |usage| %>
        <dd><%= usage.clay.name %> <%= usage.weight %>g</dd>
      <% end %>

      <dt>使用した釉薬</dt>

      <dd><%= @piece.glazes.order(:id).pluck(:name).join(' / ') %></dd>
    </dl>
  </div>
</div>

<div class="d-flex">
  <%= link_to '作品を編集', edit_my_piece_path(@piece), class: 'btn btn-outline-primary me-2' %>
  <%= button_to '削除', my_piece_path(@piece), method: :delete, class: 'btn btn-outline-danger', form: {data: {turbo_confirm: '本当に削除しますか？'}} %>
</div>

<hr>

<%= link_to '戻る', my_pieces_path, class: 'btn btn-primary' %>
