<h1>アカウント情報の編集</h1>

<%= bootstrap_form_with model: @profile, url: profile_path, method: :patch do |f| %>
  <%= f.text_field :name %>

  <%= f.primary %>
<% end %>


<%= bootstrap_form_with model: @profile, url: profile_path, method: :patch, data: {controller: 'upload-image', upload_image_target: 'form'} do |f| %>
  <label type="button" class="btn btn-primary mb-3">
    プロフィール画像を選択
    <%= f.file_field :avator, hidden: true, wrapper: false, data: {action: 'upload-image#upload' %>
  </label>
  <% if f.object.avator.attached? %>
    <div
      class="position-relative"
      style="width: fit-content;"
    >
      <%= image_tag f.object.avator, alt: '' %>

      <button
        class="btn-close position-absolute"
        style="top: 5px; right: 5px;"
      ></button>
    </div>
  <% end %>
<% end %>
