<%= bootstrap_form_with model: [:my, log.piece, log], multipart: true do |f| %>
  <%= f.date_field :date %>
  <%= f.text_field :title %>
  <%= f.text_area :body, style: 'field-sizing: content; min-height: calc(2lh + (0.375rem + var(--bs-border-width)) * 2)' %>

  <div data-controller="attach-images" class="mb-3">
    <div class="mb-3">
      <label class="btn btn-primary">
        画像を追加
        <input
          type="file"
          multiple
          data-action="attach-images#add"
          hidden
        >
      </label>
    </div>

    <div data-attach-images-target="container">
      <%= f.fields_for :photos, log.photos.order(:id) do |photo| %>
        <div data-attach-images-target="item">
          <div class="d-flex">
            <div class="imageContainer me-3">
              <%= image_tag photo.object.file.variant(:small), alt: '' %>

              <button
                type="button"
                data-attach-images-target="removeButton"
                data-action="attach-images#remove"
              >
                ×
              </button>
            </div>

            <%= photo.text_field :caption %>
          </div>
        </div>
      <% end %>
    </div>

    <template data-attach-images-target="template">
      <div data-attach-images-target="item">
        <%= f.fields_for :photos, Photo.new, child_index: '__INDEX__' do |photo| %>
          <%= photo.file_field :file, hidden: true, wrapper: false %>

          <div class="d-flex">
            <div class="imageContainer me-3">
              <%= image_tag '', alt: '', style: 'width: 100px;' %>

              <button
                type="button"
                data-attach-images-target="removeButton"
                data-action="attach-images#remove"
              >
                ×
              </button>
            </div>

            <%= photo.text_field :caption %>
          </div>
        <% end %>
      </div>
    </template>
  </div>

  <%= f.primary %>
<% end %>
