<%= bootstrap_form_with model: [:my, log.piece, log], multipart: true do |f| %>
  <%= f.date_field :date %>
  <%= f.text_field :title %>
  <%= f.text_area :body, class: 'resize-field' %>

  <div data-controller="attach-images" class="mb-3">
    <div class="mb-3">
      <label class="btn btn-primary">
        画像を追加
        <input
          type="file"
          multiple
          data-action="attach-images#add"
          hidden
        >
      </label>
    </div>

    <div class="list-group" data-attach-images-target="container">
      <%= f.fields_for :photos, log.photos.order(:id), include_id: false do |photo| %>
        <%= render 'photo', photo: %>
      <% end %>
    </div>

    <template data-attach-images-target="template">
      <%= f.fields_for :photos, LogPhoto.new, child_index: '__INDEX__' do |photo| %>
        <%= render 'photo', photo: %>
      <% end %>
    </template>
  </div>

  <div class="hstack gap-3">
    <%= f.primary %>
    <%= link_to 'キャンセル', my_piece_logs_path(log.piece), class: 'btn btn-outline-primary' %>
  </div>
<% end %>
