<%= bootstrap_form_with model: [:my, log.piece, log], multipart: true do |f| %>
  <%= f.date_field :date %>
  <%= f.text_field :title %>
  <%= f.text_area :body, style: 'field-sizing: content; min-height: calc(2lh + (0.375rem + var(--bs-border-width)) * 2)' %>

  <div data-controller="attach-images" class="mb-3">
    <div class="mb-3">
      <label class="btn btn-primary">
        画像を追加
        <%= file_field_tag 'log[photos][new_files][]', multiple: true, include_hidden: false, hidden: true, wrapper: false, data: {action: 'attach-images#preview'} %>
      </label>
    </div>

    <div data-attach-images-target="container">
      <% f.object.photos.each do |photo| %>
        <div class="d-flex" data-attach-images-target="item">
          <div class="imageContainer me-3">
            <%= image_tag photo.file, alt: '', style: 'width: 100px;' %>

            <button
              type="button"
              data-attach-images-target="removeButton"
              data-action="attach-images#remove"
            >
              ×
            </button>

            <%= hidden_field_tag 'log[photos][attrs][][id]', photo.id %>
          </div>

          <label class="d-flex flex-column">
            説明
            <%= text_field_tag 'log[photos][attrs][][caption]', photo.caption %>
          </label>
        </div>
      <% end %>
    </div>

    <template data-attach-images-target="template">
      <div class="d-flex" data-attach-images-target="item">
        <div class="imageContainer me-3">
          <%= image_tag '', alt: '', style: 'width: 100px;' %>

          <button
            type="button"
            data-attach-images-target="removeButton"
            data-action="attach-images#remove"
          >
            ×
          </button>
        </div>

        <label class="d-flex flex-column">
          説明
          <%= text_field_tag 'log[photos][attrs][][caption]' %>
        </label>
      </div>
    </template>
  </div>

  <%= f.primary %>
<% end %>
