<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', home_path %></li>
    <li class="breadcrumb-item"><%= link_to '自分の作品一覧', studio_my_pieces_path(@studio) %></li>
    <li class="breadcrumb-item active" aria-current="page">作業記録一覧</li>
  </ol>
</nav>

<%= render 'my/piece_tab', studio: @studio, piece: @piece %>

<div>
  <%= link_to '作業記録を登録する', new_studio_my_piece_log_path(@studio, @piece), class: 'btn btn-outline-primary mb-3' %>
</div>

<% @piece.logs.each do |log| %>
  <div class="card mb-3">
    <div class="card-body">
      <h2>
        <%= link_to log.title, studio_my_piece_log_path(@studio, @piece, log), class: 'text-decoration-none stretched-link' %>
      </h2>

      <time datetime="<%= log.date %>" class="d-block mb-3">
        <%= log.date %>
      </time>

      <% if log.body.present? %>
        <p><%= log.body %></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to '戻る', studio_my_pieces_path(@studio), class: 'btn btn-outline-primary' %>
