<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to '教室のホーム', studio_path(current_studio) %></li>

    <li class="breadcrumb-item">
      <%= link_to '自分の作品一覧', studio_my_pieces_path(current_studio) %>
    </li>

    <li class="breadcrumb-item">
      <%= link_to '作業記録一覧', studio_my_piece_logs_path(current_studio, @log.piece) %>
    </li>

    <li class="breadcrumb-item active" aria-current="page">作業記録</li>
  </ol>
</nav>

<h1><%= @log.title %></h1>
<time datetime="<%= @log.date %>" class="d-block mb-3"><%= @log.date %></time>

<p style="white-space: pre-wrap;"><%= @log.body %></p>

<div class="grid mb-3">
  <% @log.photos.order(:id).with_attached_file.each do |photo| %>
    <div
      class="g-col-12 g-col-md-6 d-grid row-gap-0 border"
      style="grid-row: span 2; grid-template-rows: subgrid;"
    >
      <div class="d-flex justify-content-center align-items-center bg-light">
        <%= link_to image_tag(photo.file, alt: '', class: 'w-100'), photo.file %>
      </div>

      <small class="p-2"><%= photo.caption %></small>
    </div>
  <% end %>
</div>

<div class="d-flex">
  <%= link_to '編集', edit_studio_my_piece_log_path(current_studio, @log.piece, @log), class: 'btn btn-outline-primary me-2' %>
  <%= button_to '削除', studio_my_piece_log_path(current_studio, @log.piece, @log), method: :delete, data: {turbo_confirm: '本当に削除しますか？'}, class: 'btn btn-danger' %>
</div>

<hr>
<%= link_to '戻る', studio_my_piece_logs_path(current_studio, @log.piece), class: 'btn btn-outline-primary' %>
