<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to current_studio.name, studio_path(current_studio) %>
    </li>

    <li class="breadcrumb-item">
      <%= link_to '設定', studio_settings_path(current_studio) %>
    </li>

    <li class="breadcrumb-item active" aria-current="page">土</li>
  </ol>
</nav>

<%= link_to '新規登録', new_studio_clay_path(current_studio), class: 'btn btn-outline-primary mb-3' %>

<ul class="list-group">
  <% @clays.each do |clay| %>
    <li class="d-flex list-group-item align-items-center">
      <div class="me-auto"><%= clay.name %></div>
      <%= link_to '編集', edit_studio_clay_path(current_studio, clay), class: 'btn btn-outline-primary' %>
      <%= button_to '削除', studio_clay_path(current_studio, clay), method: :delete, form: {data: {turbo_confirm: '本当に削除しますか？'}}, class: 'ms-2 btn btn-danger' %>
    </li>
  <% end %>
</ul>
