<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', studio_path(current_user.studios.first) %></li>
    <li class="breadcrumb-item active" aria-current="page">みんなの作品一覧</li>
  </ol>
</nav>

<div class="grid mb-3">
  <% @pieces.each do |piece| %>
    <div
      class="g-col-12 g-col-md-4 d-grid row-gap-0 card"
      style="grid-row: span 3; grid-template-rows: subgrid;"
    >
      <% if piece.photos.present? %>
        <div class="d-flex align-items-center bg-light">
          <%= image_tag piece.photos.first.file, class: 'w-100', alt: '' %>
        </div>
      <% else %>
        <div class="bg-light d-flex justify-content-center align-items-center">
          <p class="text-secondary pt-3">NO IMAGE</p>
        </div>
      <% end %>

      <div
        class="card-body d-grid"
        style="grid-row: span 2; grid-template-rows: subgrid;"
      >
        <h5 class="card-title">
          <%= link_to piece.title, piece_path(piece), class: 'text-decoration-none stretched-link' %>
        </h5>

        <div class="hstack gap-1">
          <% if piece.user.avatar.attached? %>
            <%= image_tag piece.user.avatar.variant(:icon), alt: '', style: 'width: 15%; border-radius: 12px;' %>
          <% end %>

          <p class="mb-0"><%= piece.user.name %>さんの作品</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to '戻る', studio_path(current_user.studios.first), class: 'btn btn-outline-primary' %>
