<h1 class="mb-3">完成品として登録する</h1>

<%= bootstrap_form_with model: [:my, @piece], url: my_piece_complete_path(@piece), method: :post do |f| %>
  <%= f.text_area :description, class: 'resize-field' %>

  <div data-controller="attach-images" class="mb-3">
    <div class="mb-3">
      <label class="btn btn-primary">
        画像を追加
        <input
          type="file"
          multiple
          data-action="attach-images#add"
          hidden
        >
      </label>
    </div>

    <div class="list-group" data-attach-images-target="container">
      <%= f.fields_for :photos, @piece.photos.order(:id), include_id: false do |photo| %>
        <%= render 'photo', photo: %>
      <% end %>
    </div>

    <template data-attach-images-target="template">
      <%= f.fields_for :photos, PiecePhoto.new, child_index: '__INDEX__' do |photo| %>
        <%= photo.file_field :file, hidden: true, wrapper: false %>
        <%= render 'photo', photo: %>
      <% end %>
    </template>
  </div>

  <%= f.primary %>
<% end %>

<hr>
<%= link_to 'キャンセル', my_piece_path(@piece), class: 'btn btn-outline-primary' %>
