<%= render 'breadcrumb', items: [
  [current_studio.name, studio_path(current_studio)],
  ['設定', studio_settings_path(current_studio)],
  'メンバー'
] %>

<div class="mx-auto w-75 mb-3">
  <%= bootstrap_form_with model: current_studio, url: [current_studio, :invitation], method: current_studio.invitation_enabled ? :delete : :post, data: {controller: 'submit-form'} do |f| %>
    <%= f.check_box :invitation_enabled, label: 'メンバーの招待', name: nil, switch: true, data: {action: 'submit-form#submit'} %>

    <% if current_studio.invitation_enabled %>
      <%= f.text_field :invitation_url, readonly: true, value: invitation_url(current_studio.token), label: '招待用URL', hide_label: true, name: nil, append: link_to('コピー', '', class: 'btn btn-primary') %>
    <% end %>
  <% end %>

  <ul class="list-group">
    <% @members.each do |member| %>
      <li class="list-group-item d-flex align-items-center">
        <span class="me-auto">
          <%= member.name %>
        </span>

        <%= button_to '削除', studio_member_path(current_studio, member), method: :delete, class: 'btn btn-danger', form: {data: {turbo_confirm: '本当に削除しますか？'}} %>
      </li>
    <% end %>
  </ul>
</div>

<% if @pagy.last > 1 %>
  <div class="d-flex justify-content-center">
    <%== @pagy.series_nav(:bootstrap) %>
  </div>
<% end %>
